{
  "openapi": "3.1.0",
  "info": {
    "title": "auth tester",
    "description": "test to get auth to work",
    "version": "1.0.0"
  },
  "paths": {
    "/api/messages/public": {
      "get": {
        "summary": "Get public message",
        "operationId": "getPublicMessage",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/protected": {
      "get": {
        "summary": "Get protected message",
        "operationId": "getProtectedMessage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://vigilant-space-guide-wx5xwpppr6f577-6060.app.github.dev"
    }
  ]
}